/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Variables */
:root {
  --clr-primary-1: #1a6aa2;
  --clr-primary-2: #102a42;
  --clr-primary-3: #829ab0;
  --clr-primary-4: #617d98;
  --clr-background: #f1f5f8;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/* Global Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-background);
  color: var(--clr-primary-2);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-primary-4);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* Glboal Classes */
.btn {
  text-transform: capitalize;
  background: transparent;
  color: black;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: white;
  background: black;
}

/* Section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* Counttime Layer */
.gift-img {
  margin-bottom: 2rem;
}
.gift-info h3 {
  text-transform: uppercase;
  color: var(--clr-primary-1);
}
.gift-info p {
  margin: 2rem auto;
}
@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
  .gift-img {
    margin-bottom: 0;
  }
}
.deadline {
  display: flex;
}
.deadline-format {
  background: var(--clr-primary-2);
  color: white;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
}
.deadline-format h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
}
